html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;
  transition: all .2s ease-in;
}

figure:first-child {
  left: 200px;
  top: 100px;
  transform: rotate(-10deg);
  z-index: 2;
  position: fixed;
}

.polaroid:nth-child(2) {
  left: 275px;
  top: 150px;
  transform: rotate(10deg);
  z-index: 10;
  position: fixed;
}

.polaroid:last-child {
  left: 350px;
  top: 100px;
  transform: rotate(20deg);
  z-index: 3;
  position: fixed;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 20;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .9);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
